<div id="question-<%=@question.id %>">
  <div class="row">
    <div class="col-xs-1 voting" id="question-<%= @question.id %>-voting">
      <%= render partial: 'votes/votes', locals: { votable: @question } %>
    </div>

    <div class="col-xs-11">
      <h1><%= @question.title %></h1>
      <p class="asker">asked by
        <b><%= @question.user.username %></b>
        <small><%= time_ago_in_words(@question.created_at) %> ago</small>
      </p>
      <% if @question.description.present? %>
        <blockquote><%= markdown(@question.description) %></blockquote>
      <% end %>
    </div>
  </div>

  <div id="answers">
    <h3>Answers</h3>
    <% if @answers.present? %>
      <%= render(@answers) %>
    <% else %>
      <p> No answers yet. </p>
    <% end %>
  </div>

  <div id="new-answer">
    <% if current_user %>
      <%= simple_form_for [@question, @answer] do |f|%>
        <%= f.error_notification %>

        <%= f.input :body, label: "Answer" %>

        <%= f.submit "Submit answer" %>
      <% end %>
    <% else %>
      <p>Please sign in to answer this question.</p>

    <% end %>
  </div>
</div>
