<div id="question-<%=@question.id %>">
  <h1><%= @question.title %></h1>
  <p class="asker">asked by
    <b><%= @question.user.email %></b>
    <small><%= @question.created_at %></small>
  </p>
  <% if @question.description.present? %>
    <blockquote><%= @question.description %></blockquote>
  <% end %>
</div>
