<div id="answer-<%= answer.id %>">
  <div class="row">
    <div class="col-xs-1 voting" id="answer-<%= answer.id %>-voting">
      <%= render partial: 'votes/votes', locals: { votable: answer } %>
    </div>
    <div class="col-xs-11">
      <p><%= markdown(answer.body) %></p>
      <p>submitted by <b><%= answer.user.email %></b>
        <small><%= time_ago_in_words(answer.created_at) %> ago</small>
      </p>
    </div>
  </div>
</div>
